.tabcontent{
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .tablinks{
    margin: 1rem;
  }
  
  .aordion-item{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .accordion-content {
    display: none;
  }
  
  .accordion-btn.active {
    background-color: var(--clr-accent);
  }