/* Hide initially */
.navbar__nav-links,
.sidebar,
.close-button {
    display: none;
}

/* Mobile View */
@media only screen and (max-width: 768px) {
    .navbar--top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar__logo {
        order: -1;
    }
}

/* Desktop View */
@media only screen and (min-width: 769px) {
    .navbar__hamburger-icon {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar__logo {
        order: -1;
    }
    .navbar__nav-links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .sidebar {
        display: block;
        margin-top: 20px;
    }
}