/* Hide initially */
.navbar__nav-links,
.sidebar,
.color,
.navbar__close-button {
    display: none;
}

.active a{
    color: var(--clr-accent); /* Set primary text color */
}



/* Mobile View */
@media only screen and (max-width: 768px) {
    .navbar--top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--clr-primary-bg); /* Set primary background color */
        color: var(--clr-primary-text); /* Set primary text color */
    }
    .navbar__logo {
        order: -1;
    }

    .sidebar{
        background-color: var(--clr-secondary-bg); /* Set secondary background color */
        color: var(--clr-secondary-text); /* Set secondary text color */
    }

    .color-swatch {
        width: 200px;
        height: 150px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }
    
    .color-swatch__name {
        font-size: 14px;
        margin-bottom: 5px;
    }
    
    .color-swatch__code {
        font-size: 12px;
        color: #666;
    }
    
    .color-swatch--primary-bg {
        background-color: #7CB5EE;
    }
    
    .color-swatch--secondary-bg {
        background-color: #BED0EC;
    }
    
    .color-swatch--accent {
        background-color: #0072C6;
    }
    
    .color-swatch--primary-text {
        background-color: #0B0B0B;
        color: #fff;
    }
    
    .color-swatch--secondary-text {
        background-color: #FFFFFF;
        color: #0B0B0B;
    }
}

/* Desktop View */
@media only screen and (min-width: 769px) {

    .navbar__hamburger-icon {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--clr-primary-bg); /* Set primary background color */
        color: var(--clr-primary-text); /* Set primary text color */
    }

    .navbar__logo {
        order: -1;
    }
    .navbar__nav-links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .sidebar {
        display: block;
        background-color: var(--clr-secondary-bg); /* Set secondary background color */
        color: var(--clr-secondary-text); /* Set secondary text color */
    }

    /* Color Swatches */
    .container {
        display: flex;
        align-items: flex-start; /* Align items at the start of the container */
        justify-content: space-between; /* Distribute items evenly along the main axis */
        background-color: var(--clr-primary-bg); /* Set secondary background color */

    }

    .color{
        display: flex;
    }

    .color-swatch {
        width: 200px;
        height: 150px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }

    .typography {
        width: 2000px;
        height: 400px;
        margin: 100px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }

    .spacing {
        width: 2000px;
        height: 400px;
        margin: 100px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }
    
    .color-swatch__name {
        font-size: 14px;
        margin-bottom: 5px;
    }
    
    .color-swatch__code {
        font-size: 12px;
        color: #666;
    }
    
    .color-swatch--primary-bg {
        background-color: #7CB5EE;
    }
    
    .color-swatch--secondary-bg {
        background-color: #BED0EC;
    }
    
    .color-swatch--accent {
        background-color: #0072C6;
    }
    
    .color-swatch--primary-text {
        background-color: #0B0B0B;
        color: #fff;
    }
    
    .color-swatch--secondary-text {
        background-color: #FFFFFF;
        color: #0B0B0B;
    }
}


/* Note: Remove the unnecessary CSS from desktop view at last */