/* Hide initially */
.navbar__nav-links,
.sidebar,
.navbar__close-button {
    display: none;
}

/* Mobile View */
@media only screen and (max-width: 768px) {
    .navbar--top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--clr-primary-bg); /* Set primary background color */
        color: var(--clr-primary-text); /* Set primary text color */
    }
    .navbar__logo {
        order: -1;
    }

    .sidebar{
        background-color: var(--clr-secondary-bg); /* Set secondary background color */
        color: var(--clr-secondary-text); /* Set secondary text color */
    }
}

/* Desktop View */
@media only screen and (min-width: 769px) {

    .navbar__hamburger-icon {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--clr-primary-bg); /* Set primary background color */
        color: var(--clr-primary-text); /* Set primary text color */
    }

    .navbar__logo {
        order: -1;
    }
    .navbar__nav-links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .sidebar {
        display: block;
        margin-top: 20px;
        background-color: var(--clr-secondary-bg); /* Set secondary background color */
        color: var(--clr-secondary-text); /* Set secondary text color */
    }
}