/* Declare color variable */
:root {
    --clr-primary: #000000; /* black */
    --clr-secondary: #333333; /* dark grey */
    --clr-accent: #333333; /* dark grey */
    --clr-light: #f5f5f5; /* very light grey */
    --clr-white: #ffffff; /* white */
  }

/* CSS reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    box-sizing: border-box;
  }