/* Declare color variable */
:root {
    --clr-primary-bg: #7CB5EE; /* primary background color */
    --clr-secondary-bg: #BED0EC; /*  secondary background color */
    --clr-accent: #0072C6; /* accent color */
    --clr-primary-text: #0B0B0B; /* dark text color */
    --clr-secondary-text: #FFFFFF; /* white text color */
  }

/* CSS reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
